bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
# JetBrains Rider
.idea/
*.sln.iml

# User-specific files
*.user
*.rsuser
*.suo

# Logs
*.log

# Local development settings / secrets
appsettings.Development.json
